@model TechnoForest.Models.Product.AirConditioners.ListAirConditionerViewModel

@{
    ViewData["Title"] = "ShowAirConditioner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims;
<p>Result: @Model.Air.Count()</p>

<strong>
    <a asp-controller="Home" asp-action="Index" style="color: #0094ff">Go back</a>
</strong>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Model</th>
            <th scope="col">Power Cooling</th>
            <th scope="col">Power Heating</th>
            <th scope="col">Noise Level</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var air in Model.Air)
        {
            <tr>
                <td>
                    <img class="Phone" src="~/Images/show_room_air_conditioners_1800btu.jpg" />
                </td>
                <td>@air.ProductName - @air.Model</td>
                <td>@air.PowerCooling</td>
                <td>@air.PowerHeating</td>
                <td>@air.NoiseLevel dB</td>
                <td>@air.Price</td>
         

                @if (User.Identity.IsAuthenticated)
                {
                    <td> <a asp-controller="Product" asp-action="AddAirConditionerToCart" asp-route-id="@air.Id"><button style="background-color:#34495e" class="btn btn-primary">Аdded to cart</button></a></td>
                }
            </tr>
        }
    </tbody>
</table>
