@model ListWashingMachineViewModel

@{
    ViewData["Title"] = "ShowWashingMachine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims;
<p style="color:white">Result: @Model.WashingMashine.Count()</p>

<strong >
    <a asp-controller="Home" asp-action="Index" style="color: #0094ff" >Go back</a>
</strong>

<table class="table table-hover">
    <thead>
        <tr>
            <th style="color:white" scope="col"></th>
            <th style="color:white" scope="col">Model</th>
            <th style="color:white" scope="col">Capacity</th>
            <th style="color:white" scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var washingMachine in Model.WashingMashine)
        {
        <tr>
            <td>
                <img class="Phone" src="~/Images/washingMachine.png" />
            </td>
            <td>@washingMachine.ProductName - @washingMachine.Model</td>
            <td>@washingMachine.WashingCapacity Kg</td>
            <td>@washingMachine.Price</td>

            @if (User.Identity.IsAuthenticated)
            {
                <td> <a asp-controller="Product" asp-action="AddWashingMachineToCart" asp-route-id="@washingMachine.Id"><button style="background-color:#34495e" class="btn btn-primary">Аdded to cart</button></a></td>
            }
        </tr>
        }
    </tbody>
</table>



