@model TechnoForest.Models.Product.Fridges.ListFridgeViewModel

@{
    ViewData["Title"] = "ShowFridge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims;
<p style="color:white">Result: @Model.Fridges.Count()</p>

<strong>
    <a asp-controller="Home" asp-action="Index" style="color: #0094ff">Go back</a>
</strong>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" style="color:white">Model</th>
            <th scope="col" style="color:white">Total Capacity</th>
            <th scope="col" style="color:white">Capacity Refrigerator</th>
            <th scope="col" style="color:white">Capacity Freezer</th>
            <th scope="col" style="color:white">Color</th>
            <th scope="col" style="color:white">Height</th>
            <th scope="col" style="color:white">Width</th>
            <th scope="col" style="color:white">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fridge in Model.Fridges)
        {
            <tr>
                <td>
                    <img class="Phone" src="~/Images/fridges-product.png" />
                </td>
                <td style="color:white">@fridge.ProductName - @fridge.Model</td>
                <td style="color:white">@fridge.TotalCapacity</td>
                <td style="color:white">@fridge.CapacityRefrigerator</td>
                <td style="color:white">@fridge.CapacityFreezer</td>
                <td style="color:white">@fridge.Color</td>
                <td style="color:white">@fridge.Height Sm</td>
                <td style="color:white">@fridge.Width Sm</td>
                <td style="color:white">@fridge.Price</td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td> <a asp-controller="Product" asp-action="AddFridgeToCart" asp-route-id="@fridge.Id"><button style="background-color:#34495e" class="btn btn-primary">Аdded to cart</button></a></td>
                }
            </tr>
        }
    </tbody>
</table>
