@model TechnoForest.Models.ShopingCarts.SearchResultsViewModel

@{
    ViewData["Title"] = "CheckMyShopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    You have @Model.Result.Count() items in your shopping cart!
</h1>
@{
    var sum = Model.Result
        .Select(pr => pr.TotalPrice);

    decimal? resultOfTotalPrice = 0m;

    if (sum.Any())
    {
        resultOfTotalPrice = sum.Last();
    }

    <h5>
        Sum of total price is: <span style="color:green">@resultOfTotalPrice</span> BGN
    </h5>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Item Model</th>
            <th scope="col">Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Result)
        {

            @if (item.MobilePhones != null && item.MobilePhones.IsBought == false)
            {
                <tr>
                    <td>@item.MobilePhones.ProductName - @item.MobilePhones.Model</td>
                    <td>Price for product is: @item.MobilePhones.Price</td>
                    <td>
                        <button style="background-color:#34495e" id="buyItem" value="@item.MobilePhones.Id @item.MobilePhones.Price" class="btn btn-primary">Buy Item</button>
                    </td>
                    <td>
                        <button style="background-color:#34495e" id="rejectItem" value="@item.MobilePhones.Id @item.MobilePhones.Price" class="btn btn-primary">Reject Item</button>
                    </td>
                </tr>
            }

            @if (item.TVs != null && item.TVs.IsBought == false)
            {
                <tr>
                    <td>@item.TVs.ProductName - @item.TVs.Model</td>
                    <td>Price for product is: @item.TVs.Price</td>
                    <td>
                        <button style="background-color:#34495e" id="buyItem" value="@item.TVs.Id @item.TVs.Price" class="btn btn-primary">Buy Item</button>
                    </td>
                    <td>
                        <button style="background-color:#34495e" id="rejectItem" value="@item.TVs.Id @item.TVs.Price" class="btn btn-primary">Reject Item</button>
                    </td>
                </tr>
            }

            @if (item.WashingMachines != null && item.WashingMachines.IsBought == false)
            {
                <tr>
                    <td>@item.WashingMachines.ProductName - @item.WashingMachines.Model</td>
                    <td>Price for product is: @item.WashingMachines.Price</td>
                    <td>
                        <button style="background-color:#34495e" id="buyItem" value="@item.WashingMachines.Id @item.WashingMachines.Price"  class="btn btn-primary">Buy Item</button>
                    </td>
                    <td>
                        <button style="background-color:#34495e" id="rejectItem" value="@item.WashingMachines.Id @item.WashingMachines.Price" class="btn btn-primary">Reject Item</button>
                    </td>
                </tr>
            }


            @if (item.Fridge != null && item.Fridge.IsBought == false)
            {
                <tr>
                    <td>@item.Fridge.ProductName - @item.Fridge.Model</td>
                    <td>Price for product is: @item.Fridge.Price</td>
                    <td>
                        <button style="background-color:#34495e" id="buyItem" value="@item.Fridge.Id @item.Fridge" class="btn btn-primary">Buy Item</button>
                    </td>
                    <td>
                        <button style="background-color:#34495e" id="rejectItem" value="@item.Fridge.Id @item.Fridge" class="btn btn-primary">Reject Item</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>